.button {
  padding: 0.5rem 1.25rem; //8px 20px
  font-family: var(--main-font);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  cursor: pointer;
  border-radius: 0.5rem; //8px
  min-width: 4rem; //64px
  width: 100%;
  transition: background-color 0.3s;

  &--primary {
    background-color: var(--blue);
    color: var(--white);

    &:hover {
      background-color: var(--dark-blue);
    }

    &[disabled] {
      background-color: var(--light-grey);
      cursor: not-allowed;
    }
  }

  &--secundary {
    border: 1px solid var(--blue);
    color: var(--blue);

    &:hover {
      background-color: var(--light-blue);
    }
  }

  &--delete {
    background-color: var(--red);
    color: var(--white);

    &:hover {
      background-color: var(--dark-red);
    }
  }
}
