@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  // Fonts
  --main-font: 'Poppins', sans-serif;

  // Colors
  --white: #fff;
  --black: #04121d;
  --light-blue: #cde2f5;
  --light-grey: #808080;
}
