.powerstats {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; //4px

  &__container {
    &-wrapper {
      display: flex;
      justify-content: space-between;

      span {
        text-transform: capitalize;
      }
    }
  }

  &__fullHorizontal {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 0.75rem; //12px
    align-items: center;

    &-container {
      display: flex;
      justify-content: space-between;

      span {
        text-transform: capitalize;
      }
    }
  }
}
