@import '../../../styles//variables.scss';
@import '../../../styles/media-queries.scss';

.menu-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 5.063rem; //81px
  width: 60%;
  background-color: var(--light-blue);
  padding: 0 2rem; //0px 32px
  display: none;

  @include mobile {
    display: block;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem; //12px
    align-items: flex-end;
  }
}
